.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  cursor: pointer;
  height: fit-content;
  padding: 0 1rem;
  color: white;
}

.title {
  font-family: sans-serif;
  color: black;
  font-size: 50px;
}

.todayButton {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #5f8860ff;
  color: white;
  cursor: pointer;
}

.navSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthTitle {
  font-family: sans-serif;
  color: black;
  margin: 0 0.5rem;
}


@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem; 
  }

  .title {
    font-size: 24px; 
  }

  .navSection {
    margin-top: 0.5rem;
  }
}
